---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>

  <div class="col-md-6">
    <div class="figure-rotator">
      <img id="rotating-figure" src="{{ site.github.url }}/assets/img/positional_coefficients.jpg" alt="Research figure">
    </div>
  </div>
</div>

<script>
  const figures = [
    "{{ site.github.url }}/assets/img/psmc.jpg",
    "{{ site.github.url }}/assets/img/northamerica.jpg",
    "{{ site.github.url }}/assets/img/circos.jpg",
    "{{ site.github.url }}/assets/img/microbe.jpg",
  ];

  let current = 0;
  const image = document.getElementById("rotating-figure");

  setInterval(() => {
    image.classList.add("fade-out");

    setTimeout(() => {
      current = (current + 1) % figures.length;
      image.src = figures[current];
      image.classList.remove("fade-out");
    }, 500);
  }, 5000);
</script>
